<form action="/add" method="POST">
    <label>Título:</label>
    <input type="text" name="titulo">

    <label>Conteudo:</label>
    <textarea name='conteudo' rows='3'></textarea>

    <button type="submit">Adicionar</button>
</form>