<div class="card">   
    <div class="card-header">
        Postagens
    </div>
    <div class="card-body">
        <form>
            <input type="text" id="search" name="search" class="form-control" [(ngModel)]="title" placeholder="Pesquisar por título"/>
            <button (click)="searchTitle()" class="btn btn-primary">Buscar</button>          
        
            <h4>Listagem de Postagens</h4>

            <ul class="list-group">
                <li class="list-group-item" *ngFor="let post of posts; let i = index" [class.active]=" i == currentIndex" (click)="setActivePost(post, i)">{{ post.title }}</li>
            </ul>
        
            <button (click)="removeAllPosts()" class="btn btn-danger">Remover Todos</button>          

            <div>
                <label>Descrição:</label>
                {{ currentPost.description }}
            </div>

            <div>
                <label>Situação:</label>
                {{ currentPost.published ? "Publicado" : "Pendente" }}
            </div>

            <a class="btn btn-primary" routerLink="/posts/{{ currentPost.id }}">Editar</a>

            <div *ngIf="!currentPost">
                <p>Por favor, selecione uma postagem.</p>
            </div>

        </form>  
    </div>
</div>
