<div class="card-deck p-3">
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1476718406336-bb5a9690ee2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=653&q=80" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">SUMMER CORN BOWL</h5>
        <p class="card-text">roasted corn + peppers, tomatoes, shredded cabbage, cilantro, goat cheese, tortilla chips, spicy sunflower seeds, warm quinoa, arugula, lime cilantro vinaigrette</p>
        <p class="card-text"><small class="text-muted">605 cal</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=653&q=80" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">MISO ROASTED CORN BOWL</h5>
        <p class="card-text">blackened chicken, roasted corn + peppers, raw carrots, basil, shredded cabbage, roasted almonds, shredded kale, warm wild rice, miso sesame ginger vinaigrette</p>
        <p class="card-text"><small class="text-muted"> 670 cal</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?ixlib=rb-1.2.1&auto=format&fit=crop&w=653&q=80" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">MISO EGGPLANT RICE BOWL</h5>
        <p class="card-text">roasted sesame tofu, roasted eggplant + peppers, shredded cabbage, spicy broccoli, basil, spicy sunflower seeds, warm wild rice, baby spinach, miso sesame ginger dressing</p>
        <p class="card-text"><small class="text-muted">680 cal</small></p>
      </div>
    </div>
</div>
<div class="card-deck p-3">
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=653&q=80" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">EGGPLANT CHIMICHURRI</h5>
        <p class="card-text">roasted eggplant + peppers, red onions, tomatoes, za’atar breadcrumbs, feta cheese, baby spinach, arugula, lemon squeeze, chimichurri sauce</p>
        <p class="card-text"><small class="text-muted">320 cal</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1519624213695-6819a985fb0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=653&q=80" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CHICKEN + ROASTED CORN PLATE</h5>
        <p class="card-text">whole chicken thigh, roasted corn + peppers, heirloom tomatoes, kale cabbage slaw, hot roasted sweet potatoes, warm quinoa, green goddess ranch</p>
        <p class="card-text"><small class="text-muted">710 cal</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1546793665-c74683f339c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">SUMMER CORN CAESAR</h5>
        <p class="card-text">blackened chicken, roasted corn + peppers, black beans, cilantro, tomatoes, red onions, tortilla chips, chopped romaine, spring mix, sweetgreen hot sauce, caesar dressing</p>
        <p class="card-text"><small class="text-muted">505 cal</small></p>
      </div>
    </div>
</div>
<div class="card-deck p-3">
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1528344227352-9a704db46536?ixlib=rb-1.2.1&auto=format&fit=crop&w=653&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">PESTO RATATOUILLE PLATE</h5>
      <p class="card-text">whole chicken thigh, roasted eggplant + peppers, heirloom tomatoes, basil, shaved parmesan, warm wild rice, pesto vinaigrette</p>
      <p class="card-text"><small class="text-muted">705 cal</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1509404808-957270945bb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=653&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">PEACHES + YOGURT</h5>
      <p class="card-text">peaches, cashew yogurt sauce</p>
      <p class="card-text"><small class="text-muted">170 cal</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1518779578993-ec3579fee39f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=653&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ROASTED CORN + PEPPERS</h5>
      <p class="card-text">roasted corn + peppers, feta cheese, lime squeeze</p>
      <p class="card-text"><small class="text-muted">225 cal</small></p>
    </div>
  </div>
</div>