<div class="container">
    <br>
    <h1>Consulta de Cep</h1>
    <br>
    <form action="/add" method="POST">

        <div class="form-group">
            <label>Cep</label>
            <input type="text" class="form-control" name="nome">
        </div>
        
        <div class="form-group">
            <label>Endereço</label>
            <input type="number" class="form-control" name="idade">
        </div>

        <div class="form-group">
            <label>Bairro</label>
            <input type="text" class="form-control" name="raca">
        </div>

        <div class="form-group">
            <label>Cidade</label>
            <input type="number" class="form-control" name="peso">
        </div>

        <div class="form-group">
            <label>UF</label>
            <input type="text" class="form-control" name="tutor">
        </div>
        
        <button type="submit" class="btn btn-primary" >Adicionar</button>
</form>
</div>